* {
    margin: 0;
    padding: 0;

  }
   
   body {
      font-family: 'Inter', sans-serif;
      background-color: #fff;
    }

    /* Navbar */
    nav {
      padding-top:"10px";
      background-color: #fff;
      border-bottom: 1px solid #e0e0e0;
      padding: 10px 20px;
      display: flex;
      height: 80px;
      align-items: center;
      justify-content: space-between;
      /* position: fixed; */
      z-index: 999;
      width: 100%;
      
    }

    .left-section {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .location {
      border: 1.5px solid black;
      border-radius: 50px;
      padding: 6px 14px;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .location i {
      color: #6c40f7;
      font-size: 18px;
    }

    .location-text {
      line-height: 1.1;
    }

    .location-text strong {
      font-size: 0.95rem;
    }

    .location-text small {
      color: gray;
      font-size: 0.8rem;
    }

    .nav-links a {
      text-decoration: none;
      color: #333;
      font-weight: 600;
      margin-right: 15px;
      padding: 6px 12px;
      border-radius: 20px;
    }

    .nav-links a.active {
      background-color: #ede4ff;
      color: #4b00f7;
    }

    .nav-links a:hover {
      color: #4b00f7;
    }

    .search-bar {
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 25px;
      padding: 6px 12px;
      width: 350px;
    }

    .search-bar i {
      color: #6c40f7;
      margin-right: 8px;
    }

    .search-bar input {
      border: none;
      outline: none;
      width: 100%;
    }

    .profile {
      background-color: #d8dce2;
      border-radius: 50%;
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }


    /*section*/
.section {
    display: flex;
    justify-content: flex-start;
    gap: 18px;
    width: 100%;
    height: auto;
    margin-top: 8rem;

}

.section-image img {
    width: 130px;
    height: 170px;
    margin-left: 17rem;
    border-radius: 12px;
    object-fit: cover;
}

#play {
    font-size: 40px;
    position: relative;
    left: 360px;
    top: 12px;

}

.section-info {
    margin-top: 2rem;
}

.section-info h1 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: BeVietnamPro, sans-serif;
}

.section-info span {
    font-size: 16px;
    font-weight: 500;
    font-family: BeVietnamPro, sans-serif;
    line-height: 18px;
}

.section-info button {
    color: #131316;
    border: 1px solid #131316;
    border-radius: 8px;
    align-items: center;
    width: 120px;
    height: 32px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 7px;
}

.section-info button:hover {
    background-color: lightgrey;
}

.date {
    display: flex;
    margin-top: 2rem;
    margin-left: 20rem;
    gap: 15px;
}

.date-nov {
    background-color: #f1f1f2;
    width: 25px;
    height: 50px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .7px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

.date-thu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 58px;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 11px;
    background-color: black;
    color: white;
}

.date-thu span {
    font-size: 15px;
    font-weight: 500;
    font-family: BeVietnamPro, sans-serif;
}

.list-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-left: 20rem;
}

.list-btn button {
    align-content: center;
    margin-top: 30px;
    width: 100px;
    height: 28px;
    font-size: 1rem;
    color: #131316;
    font-weight: 500;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgb(163, 157, 157);
}

.btn-filter {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.seat-info {
    margin-top: 1rem;
    margin-left: 20rem;
    background-color: rgba(0, 0, 0, .08);
    width: 66%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #77777e;
}

.black {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: 1rem;
}

.black span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
}

.black label {
    color: #77777e;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    font-family: BeVietnamPro, sans-serif;
}

.theatre {
    display: flex;
    margin-left: 20rem;
    margin-top: 2rem;
    align-items: center;
    gap: 5px;
}

.theatre-image {
    box-sizing: border-box;
    border: 1px solid rgb(227, 219, 219);
    border-radius: 50%;
    background-color: #090909;
    margin-left: 1rem;
}

.theatre-image img {
    width: 60px;
    height: 60px;
}

.theatre-text {
    display: grid;
    row-gap: 4px;
    margin-left: 1rem;
}

.theatre-text a {
    text-decoration: none;
    color: #131316;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
}

.span>p>span {
    color: #77777e;
    font-size: 16px;
}

#heart {
    position: relative;
    bottom: 12px;
    font-size: 20px;
    margin-left: 27rem;
}
#heartt{
    position: relative;
    bottom: 12px;
    font-size: 20px;
    margin-left: 30rem;
}

.time button {
    margin-left: 21rem;
    margin-top: 1rem;
    width: 220px;
    height: 59px;
    border-radius: 14px;
    align-items: center;
    border: 1px solid rgb(0 0 0 / 24%);
    box-sizing: border-box;
}

.time button>span {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: BeVietnamPro, sans-serif;
}

.time-hover {
    width: 120px;
    height: 70px;
    background-color: white;
    box-sizing: border-box;
    /* border: 1px solid lightgrey; */
    border-radius: 9px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
     position: absolute;
    left: 22%;
    bottom: 18%;
    padding-left: 1rem;
    margin-bottom: 1rem;

}

.time button:hover +.time-hover {
    display: block;
}
.timeone button {
    margin-left: 21rem;
    margin-top: 1rem;
    width: 220px;
    height: 59px;
    border-radius: 14px;
    align-items: center;
    border: 1px solid rgb(0 0 0 / 24%);
    box-sizing: border-box;
}

.timeone button>span {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: BeVietnamPro, sans-serif;
}
.time-hoverone {
    width: 150px;
    height: 70px;
    background-color: white;
    box-sizing: border-box;
    /* border: 1px solid lightgrey; */
    border-radius: 9px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    left: 22%;
    bottom: -8%;
    padding-left: 1rem;
    margin-bottom: 1rem;

}

.timeone button:hover +.time-hoverone {
    display: block;
}

.scroll {
    height: auto;
    margin-top: 50px;
    margin-left: 19rem;
    /* background-color: blue; */
}

.listt {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.cinema {
    font-size: 20px;
    font-weight: 600;
}

.listt button {
    align-content: center;
    margin-top: 20px;
    width: 130px;
    height: 30px;
    font-size: 1rem;
    color: #131316;
    font-weight: 500;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid rgb(163, 157, 157);
}

.btn-filter-one{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.listts {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-left: 7px;
}

.listts button {
    align-content: center;
    margin-top: 20px;
    width: 185px;
    height: 35px;
    font-size: 1rem;
    color: #131316;
    font-weight: 500;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid rgb(163, 157, 157);
}

/*footer*/

.footer-top {
    height: 160px;
    border-bottom: 1px solid gray;
    width: 81%;
    margin-left: 170px;
    margin-top: 150px;
}

.download {
    display: flex;
    justify-content: flex-start;
    gap: 105px;
}

.download h3 {
    margin-top: 3rem;
}

/* .download-icon{
    margin-left: 4rem;
} */
.download-icon img {
    width: 160px;
    height: 160px;
    margin-left: 1rem;

}

.info-icon {
    display: flex;
    justify-content: flex-end;
    margin-top: -110px;
    gap: 85px;
}

.iconss {
    border: 1px solid gainsboro;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.iconss img {
    display: flex;
    /* justify-content: center; */
    align-content: center;
    width: 30px;
    height: 40px;
    position: relative;
    left: 7px;
    top: 5px;
}

.iconss-text {
    padding-top: 12px;
    width: 135px;
}


     .footer-section {
      background: #1c1c1c;
      color: #dcdcdc;
      padding: 50px 0 20px;
      font-family: "Inter", sans-serif;
    }

    .footer-menu a {
      color: #dcdcdc;
      text-decoration: none;
      margin: 0 18px;
      font-weight: 500;
      font-size: 15px;
    }

    .footer-menu a:hover {
      color: #ffffff;
    }

    .footer-logo img {
      width: 160px;
    }

    .footer-bottom-text {
      font-size: 14px;
      color: #cccccc;
      margin-top: 25px;
    }

    .footer-social i {
      font-size: 22px;
      margin-right: 18px;
      cursor: pointer;
    }

    .footer-social i:hover {
      color: #fff;
    }